WebContent/wsdl/Pcd.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://model" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://model" xmlns:intf="http://model" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://model" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="setId">
    <complexType>
     <sequence>
      <element name="id" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="setIdResponse">
    <complexType/>
   </element>
   <element name="getId">
    <complexType/>
   </element>
   <element name="getIdResponse">
    <complexType>
     <sequence>
      <element name="getIdReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getSujet">
    <complexType/>
   </element>
   <element name="getSujetResponse">
    <complexType>
     <sequence>
      <element name="getSujetReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getEncadreur">
    <complexType/>
   </element>
   <element name="getEncadreurResponse">
    <complexType>
     <sequence>
      <element name="getEncadreurReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="setEncadreur">
    <complexType>
     <sequence>
      <element name="encadreur" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="setEncadreurResponse">
    <complexType/>
   </element>
   <element name="setSujet">
    <complexType>
     <sequence>
      <element name="sujet" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="setSujetResponse">
    <complexType/>
   </element>
   <element name="setNbAaffecter">
    <complexType>
     <sequence>
      <element name="nbAaffecter" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="setNbAaffecterResponse">
    <complexType/>
   </element>
   <element name="getNbAaffecter">
    <complexType/>
   </element>
   <element name="getNbAaffecterResponse">
    <complexType>
     <sequence>
      <element name="getNbAaffecterReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="setDescription_PCD">
    <complexType>
     <sequence>
      <element name="description_PCD" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="setDescription_PCDResponse">
    <complexType/>
   </element>
   <element name="getDepartement">
    <complexType/>
   </element>
   <element name="getDepartementResponse">
    <complexType>
     <sequence>
      <element name="getDepartementReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getDescription_PCD">
    <complexType/>
   </element>
   <element name="getDescription_PCDResponse">
    <complexType>
     <sequence>
      <element name="getDescription_PCDReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="setDepartement">
    <complexType>
     <sequence>
      <element name="departement" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="setDepartementResponse">
    <complexType/>
   </element>
   <element name="getMotsCles">
    <complexType/>
   </element>
   <element name="getMotsClesResponse">
    <complexType>
     <sequence>
      <element name="getMotsClesReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="setMotsCles">
    <complexType>
     <sequence>
      <element name="motsCles" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="setMotsClesResponse">
    <complexType/>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getEncadreurRequest">

      <wsdl:part element="impl:getEncadreur" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getDescription_PCDResponse">

      <wsdl:part element="impl:getDescription_PCDResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setIdResponse">

      <wsdl:part element="impl:setIdResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setDepartementRequest">

      <wsdl:part element="impl:setDepartement" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getDescription_PCDRequest">

      <wsdl:part element="impl:getDescription_PCD" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getMotsClesRequest">

      <wsdl:part element="impl:getMotsCles" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setDepartementResponse">

      <wsdl:part element="impl:setDepartementResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getIdResponse">

      <wsdl:part element="impl:getIdResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setNbAaffecterRequest">

      <wsdl:part element="impl:setNbAaffecter" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getEncadreurResponse">

      <wsdl:part element="impl:getEncadreurResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getSujetResponse">

      <wsdl:part element="impl:getSujetResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setEncadreurResponse">

      <wsdl:part element="impl:setEncadreurResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getMotsClesResponse">

      <wsdl:part element="impl:getMotsClesResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setNbAaffecterResponse">

      <wsdl:part element="impl:setNbAaffecterResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setDescription_PCDRequest">

      <wsdl:part element="impl:setDescription_PCD" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setEncadreurRequest">

      <wsdl:part element="impl:setEncadreur" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setIdRequest">

      <wsdl:part element="impl:setId" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getDepartementResponse">

      <wsdl:part element="impl:getDepartementResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setMotsClesRequest">

      <wsdl:part element="impl:setMotsCles" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getSujetRequest">

      <wsdl:part element="impl:getSujet" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setSujetRequest">

      <wsdl:part element="impl:setSujet" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setMotsClesResponse">

      <wsdl:part element="impl:setMotsClesResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getNbAaffecterRequest">

      <wsdl:part element="impl:getNbAaffecter" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getDepartementRequest">

      <wsdl:part element="impl:getDepartement" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setSujetResponse">

      <wsdl:part element="impl:setSujetResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getIdRequest">

      <wsdl:part element="impl:getId" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setDescription_PCDResponse">

      <wsdl:part element="impl:setDescription_PCDResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getNbAaffecterResponse">

      <wsdl:part element="impl:getNbAaffecterResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Pcd">

      <wsdl:operation name="setId">

         <wsdl:input message="impl:setIdRequest" name="setIdRequest">

       </wsdl:input>

         <wsdl:output message="impl:setIdResponse" name="setIdResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getId">

         <wsdl:input message="impl:getIdRequest" name="getIdRequest">

       </wsdl:input>

         <wsdl:output message="impl:getIdResponse" name="getIdResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getSujet">

         <wsdl:input message="impl:getSujetRequest" name="getSujetRequest">

       </wsdl:input>

         <wsdl:output message="impl:getSujetResponse" name="getSujetResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getEncadreur">

         <wsdl:input message="impl:getEncadreurRequest" name="getEncadreurRequest">

       </wsdl:input>

         <wsdl:output message="impl:getEncadreurResponse" name="getEncadreurResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setEncadreur">

         <wsdl:input message="impl:setEncadreurRequest" name="setEncadreurRequest">

       </wsdl:input>

         <wsdl:output message="impl:setEncadreurResponse" name="setEncadreurResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setSujet">

         <wsdl:input message="impl:setSujetRequest" name="setSujetRequest">

       </wsdl:input>

         <wsdl:output message="impl:setSujetResponse" name="setSujetResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setNbAaffecter">

         <wsdl:input message="impl:setNbAaffecterRequest" name="setNbAaffecterRequest">

       </wsdl:input>

         <wsdl:output message="impl:setNbAaffecterResponse" name="setNbAaffecterResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getNbAaffecter">

         <wsdl:input message="impl:getNbAaffecterRequest" name="getNbAaffecterRequest">

       </wsdl:input>

         <wsdl:output message="impl:getNbAaffecterResponse" name="getNbAaffecterResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setDescription_PCD">

         <wsdl:input message="impl:setDescription_PCDRequest" name="setDescription_PCDRequest">

       </wsdl:input>

         <wsdl:output message="impl:setDescription_PCDResponse" name="setDescription_PCDResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getDepartement">

         <wsdl:input message="impl:getDepartementRequest" name="getDepartementRequest">

       </wsdl:input>

         <wsdl:output message="impl:getDepartementResponse" name="getDepartementResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getDescription_PCD">

         <wsdl:input message="impl:getDescription_PCDRequest" name="getDescription_PCDRequest">

       </wsdl:input>

         <wsdl:output message="impl:getDescription_PCDResponse" name="getDescription_PCDResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setDepartement">

         <wsdl:input message="impl:setDepartementRequest" name="setDepartementRequest">

       </wsdl:input>

         <wsdl:output message="impl:setDepartementResponse" name="setDepartementResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getMotsCles">

         <wsdl:input message="impl:getMotsClesRequest" name="getMotsClesRequest">

       </wsdl:input>

         <wsdl:output message="impl:getMotsClesResponse" name="getMotsClesResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setMotsCles">

         <wsdl:input message="impl:setMotsClesRequest" name="setMotsClesRequest">

       </wsdl:input>

         <wsdl:output message="impl:setMotsClesResponse" name="setMotsClesResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="PcdSoapBinding" type="impl:Pcd">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="setId">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="setIdRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="setIdResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getId">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getIdRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getIdResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getSujet">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getSujetRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getSujetResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getEncadreur">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getEncadreurRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getEncadreurResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setEncadreur">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="setEncadreurRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="setEncadreurResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setSujet">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="setSujetRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="setSujetResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setNbAaffecter">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="setNbAaffecterRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="setNbAaffecterResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getNbAaffecter">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getNbAaffecterRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getNbAaffecterResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setDescription_PCD">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="setDescription_PCDRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="setDescription_PCDResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getDepartement">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getDepartementRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getDepartementResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getDescription_PCD">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getDescription_PCDRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getDescription_PCDResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setDepartement">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="setDepartementRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="setDepartementResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getMotsCles">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getMotsClesRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getMotsClesResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setMotsCles">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="setMotsClesRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="setMotsClesResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="PcdService">

      <wsdl:port binding="impl:PcdSoapBinding" name="Pcd">

         <wsdlsoap:address location="http://localhost:8080/pcd1/services/Pcd"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
