WebContent/wsdl/SetAffectationOption.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://webservices" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://webservices" xmlns:intf="http://webservices" xmlns:tns1="http://dao" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://webservices" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://dao"/>
   <element name="SetAffectation">
    <complexType/>
   </element>
   <element name="SetAffectationResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="SetAffectationReturn" type="tns1:AffModOptDao"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ArrayOf_tns1_AffModOptDao">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="tns1:AffModOptDao"/>
    </sequence>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://dao" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://webservices"/>
   <complexType name="AffModOptDao">
    <sequence>
     <element name="allAffected" type="xsd:boolean"/>
     <element name="array" nillable="true" type="impl:ArrayOf_tns1_AffModOptDao"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="SetAffectationRequest">

      <wsdl:part element="impl:SetAffectation" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="SetAffectationResponse">

      <wsdl:part element="impl:SetAffectationResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="SetAffectationOption">

      <wsdl:operation name="SetAffectation">

         <wsdl:input message="impl:SetAffectationRequest" name="SetAffectationRequest">

       </wsdl:input>

         <wsdl:output message="impl:SetAffectationResponse" name="SetAffectationResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="SetAffectationOptionSoapBinding" type="impl:SetAffectationOption">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="SetAffectation">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="SetAffectationRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="SetAffectationResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="SetAffectationOptionService">

      <wsdl:port binding="impl:SetAffectationOptionSoapBinding" name="SetAffectationOption">

         <wsdlsoap:address location="http://localhost:8080/pcd1/services/SetAffectationOption"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
