WebContent/wsdl/SetOptionList.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://webservices" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://webservices" xmlns:intf="http://webservices" xmlns:tns1="http://model" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://webservices" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://model"/>
   <element name="SetOptList">
    <complexType>
     <sequence>
      <element name="IdEtud" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="SetOptListResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="SetOptListReturn" type="tns1:Mod_opt"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://model" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="Mod_opt">
    <sequence>
     <element name="filiere" type="xsd:int"/>
     <element name="id" type="xsd:int"/>
     <element name="nb_max" type="xsd:int"/>
     <element name="nb_min" type="xsd:int"/>
     <element name="nom" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="SetOptListResponse">

      <wsdl:part element="impl:SetOptListResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="SetOptListRequest">

      <wsdl:part element="impl:SetOptList" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="SetOptionList">

      <wsdl:operation name="SetOptList">

         <wsdl:input message="impl:SetOptListRequest" name="SetOptListRequest">

       </wsdl:input>

         <wsdl:output message="impl:SetOptListResponse" name="SetOptListResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="SetOptionListSoapBinding" type="impl:SetOptionList">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="SetOptList">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="SetOptListRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="SetOptListResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="SetOptionListService">

      <wsdl:port binding="impl:SetOptionListSoapBinding" name="SetOptionList">

         <wsdlsoap:address location="http://localhost:8080/pcd1/services/SetOptionList"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
